<% include header %>

<h1 class="txt-cntr">NODE USER MANAGEMENT</h1>

<div class ="loginContainer">
    <% if(!user) {  %>
    <a href="/login">LOGIN USING APP</a>
    <% } else {  %>
    <a href="/logout">LOGOUT</a>
    <% }   %>
</div>
<h3 class="bg-head">Welcome to your node.js app</h3>

<p class="content"> A Simple node.js application for User Mangement with Express Framework. </p>

<p class="content"> This application generally focuses to beginners in node.js. The application will give them an general idea to how to combine the node.js with Express framework to MongoDB as data storage. </p>

<p class="content"> You can login to application with following sample login credentials. </p>

<TABLE class="listing" BORDER="5"    WIDTH="30%"   CELLPADDING="2" CELLSPACING="1">
    <TR>
        <TH COLSPAN="2"><BR><H3>SAMPLE LOGIN CREDENTIALS</H3>
        </TH>
    </TR>
    <TR>
        <TH>USERNAME</TH>
        <TH>PASSWORD</TH>
    </TR>
     <TR ALIGN="CENTER">
        <TD>angel</TD>
        <TD>angel123</TD>
    </TR>
     <TR ALIGN="CENTER">
        <TD>justin</TD>
        <TD>justin123</TD>
    </TR>
</TABLE>

<% include footer %>
