body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.bg-head {
  color: #ba55d3;
}
.content {
  width: 80%;
  text-align: center;
  color: #00f;
}
.content:first-of-type {
  margin-top: 10%;
}
#login-form {
  border: 2px solid #d8bfd8;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  display: inline-block;
}
#login-form div {
  margin: 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.txt-cntr {
  text-align: center;
}
.clr {
  clear: both;
}
.d-i-b {
  display: inline-block;
}
.err-msg {
  clear: both;
  color: #f00;
  font-size: 10px;
  width: 100%;
}
