body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: mintcream
a
  color: #00B7FF
.bg-head
    color: #ba55d3
.content 
    width:100%
    text-align: center
    color: blue
.content:first-of-type
    margin-top: 10%
#login-form
    border: 2px solid thistle
    border-radius: 10px 10px 10px 10px
    -moz-border-radius: 10px 10px 10px 10px
    -webkit-border-radius: 10px 10px 10px 10px
    display: inline-block
#login-form div
    margin: 15px 20px
.fl
    float: left
.fr
    float: right
.txt-cntr
    text-align: center
.clr
    clear: both
.d-i-b
    display: inline-block
.m-l-10
    margin-left: 10px
.err-msg
    clear: both
    color: #FF0000
    font-size: 11px
    font-weight: bold
    padding: 10px 0
    width: 100%
.loginContainer
    float:right
    font-weight:bold
    font-size:16px
    margin-right:10%
.loginContainer a
    text-decoration: none
.submit-button input
    margin-left: 75px
#login-form div label
    display: inline-block
    margin-right: 5px
    width: 150px
.listing
    clear: both
    margin: auto
.sucess-msg
    color: green
    font-weight: bold
    margin: 10px auto
.home-link
    text-decoration: none
    font-weight: bold
.delete
    background-color: #FF0000
    border-radius: 3px
    color: #FFFFFF
    padding: 2px 4px
    text-decoration: none